:root {
    --black: #15181E; 
    --dark-grey: #292B36;
    --light-grey: #AAB1D0;
    --green: #56CB82;
  }

  .tab-overlay {
    font-family: 'Inter', BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-style: normal;
  }


.tab-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #15181Efa;
    z-index: 9999999;
    opacity: 0;
    pointer-events: none;
}

.tab-overlay.visible {
    opacity: 1;
    pointer-events: all;
}

.tab-search-wrapper {
    max-width: 550px;
    width: 100%;
}

input.tab-search {
    padding: 20px;
    border-radius: 6px;
    border: 0;
    width: 100%;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

.tab-search-results-wrapper {
    max-height: 200px;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
}

.tab-search-results-wrapper::-webkit-scrollbar {
    display: none;
  }

.search-item {
    background: var(--dark-grey);
    margin-bottom: 10px;
    padding: 10px;
    font-family: "Inter", Helvetica, Arial, sans-serif;
    border-radius: 6px;
    color: var(--light-grey);
    border: 2px solid var(--dark-grey);
    transition: all 0.2s ease-in-out;
}

.search-item:hover {
    border: 2px solid var(--light-grey);
}

