@font-face {
    font-family: "Inter";
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/Inter-Medium.woff2")
            format("woff2"),
        url("chrome-extension://__MSG_@@extension_id__/fonts/Inter-Medium.woff")
            format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/Inter-Light.woff2")
            format("woff2"),
        url("chrome-extension://__MSG_@@extension_id__/fonts/Inter-Light.woff")
            format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/Inter-Bold.woff2")
            format("woff2"),
        url("chrome-extension://__MSG_@@extension_id__/fonts/Inter-Bold.woff")
            format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --black: #15181e;
    --dark-grey: #292b36;
    --light-grey: #aab1d0;
    --green: #56cb82;
    --orange: #cb7656;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
    font-style: normal;
}

ul {
    padding: 0;
}

.App {
    text-align: center;
    width: 350px;
    height: 400px;
    background: var(--black);
    display: flex;
    flex-direction: column;
}

.header {
    padding: 5px 10px;
    text-align: left;
    background-color: var(--black);
    color: var(--light-grey);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header svg {
    width: 25px;
    height: 25px;
}

.logo svg {
    margin-right: 10px;
}

.header :is(rect, path, circle) {
    stroke: var(--light-grey);
}

.header .settings {
    cursor: pointer;
    padding: 5px;
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header .settings:hover {
    background-color: var(--dark-grey);
}

.App h2 {
    color: var(--light-grey);
    line-height: 1.5;
}

.tab-count {
    font-weight: 800;
    font-size: 12px;
    color: var(--green);
    margin-left: 7px;
    padding-left: 7px;
    border-left: 2px solid var(--light-grey);
}

.tab-list {
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.tab-list::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-image: linear-gradient(0deg, var(--black), transparent);
    pointer-events: none;
}

.tab-list::-webkit-scrollbar {
    display: none;
}

.tab-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: var(--dark-grey);
    color: var(--light-grey);
    margin-bottom: 10px;
    text-align: left;
    padding: 10px;
    border-radius: 6px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative;
    border: 2px solid var(--dark-grey);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tab-item:hover {
    /* cursor: pointer; */
    border: 2px solid var(--light-grey);
}

.tab-item.grouped {
    border: 2px solid var(--orange);
}

.tab-item.selected {
    border: 2px solid var(--green);
}

.tab-item h4 {
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
}

.tab-item img,
.tab-item .img-placeholder {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.tab-item .img-placeholder {
    background: #ddd;
    border-radius: 6p;
    display: inline-block;
}

.tab-item .actions {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-image: linear-gradient(
        270deg,
        var(--dark-grey),
        85%,
        transparent
    );
    background-image: linear-gradient(
        270deg,
        var(--dark-grey),
        85%,
        transparent
    );
    display: flex;
    align-items: center;
    padding: 0 10px 0 30px;
}

.tab-item:hover .actions {
    opacity: 1;
    pointer-events: all;
}

.tab-item .actions .action {
    padding: 5px;
    background: var(--light-grey);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.tab-item .actions .action:hover {
    opacity: 0.75;
}

.tab-item .actions .action:not(:last-child) {
    margin-right: 5px;
}

.tab-item .actions svg {
    height: 20px;
    width: 20px;
}

.group-action-bar {
    padding: 10px;
    z-index: 9;
    display: none;
    opacity: 0;
}

.group-action-bar.visible {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    opacity: 1;
}

.group-action-bar .action {
    border: 0;
    background: transparent;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}

.group-action-bar .action.deny {
    color: var(--light-grey);
    border: 2px solid;
    margin-right: 10px;
}

.group-action-bar .action.success {
    background: var(--green);
    font-weight: 500;
}
